.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: yellow;
}

.content-wrap {
  flex: 1 0 auto;
}

.main-about-content {
  width: 80%;
  margin: 0 auto;
  flex: 1 0 auto;
  background: red;
}

.about-description {
  h1 {
    color: $highlightText;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
  }
  p {
    font-size: 14px;
  }
}
