.body-grow {
  display: flex;
  flex-direction: column;
}

.my-container {
  flex-grow: 1;
}

.main-about-content {
  width: 80%;
  margin: 0 auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: stretch;
}

.about-description {
  h1 {
    color: $highlightText;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
  }
  p {
    font-size: 14px;
  }
}
