.landing-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 80px;
}

.title-landing {
  color: #ff9a3c;
  font-weight: normal;
  font-size: 1.7rem;
}

.subtitle-landing {
  font-weight: normal;
  font-size: 1.2rem;
}

.button {
  display: inline-block;
  background-color: $primaryBtn;
  color: $primaryText;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  font-size: 1.3rem;
  width: 30%;
  max-width: 150px;
  text-align: center;
}

.image-line {
  width: 20rem;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  justify-content: flex-end;
}
