.landing-section {
  display: flex;
  align-items: center;
  min-height: 80vh;
  width: 80%;
  margin: auto;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 80%;

  .title-landing {
    color: #ff9a3c;
    font-weight: normal;
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .subtitle-landing {
    font-weight: normal;
    font-size: 1.2rem;
  }

  .button {
    background-color: $primaryBtn;
    color: $primaryText;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    padding: 0.3rem 1.4rem;
    font-size: 1.3rem;
    max-width: 150px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
  }

  .image-line {
    width: 20rem;
    margin-top: 2rem;
  }
}

.image-container img {
  width: 40vw;
  max-height: 80vh;
}

//MEDIA QUERIES
@media only screen and (max-width: 768px) {
  .image-container {
    display: none;
  }

  .left-wrapper {
    align-items: center;
    text-align: center;
  }

  .button,
  .image-line {
    align-self: center;
    margin-right: 0px;
  }
}
