@import './variables';
@import './mixins';
@import './header';
@import './footer';
@import './landing';
@import './about';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to right, #203a43, #316f81);
  font-family: 'Poppins', sans-serif;
  color: $primaryText;
  height: 100%;
  width: 100%;
}

.body-grow {
  @include flex-column;
  height: 100%;
}

.page-description {
  h1 {
    color: $highlightText;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
  }
  p {
    font-size: 14px;
  }
}
