@import './variables';
@import './header';
@import './landing';
@import './about';
@import './footer';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to right, #203a43, #316f81);
  font-family: 'Poppins', sans-serif;
  color: $primaryText;
  height: 100vh;
}
