.cards {
  @include flex-alignItems-center;
  justify-content: center;
  width: 100%;
  margin: 0 2rem;
}

.card {
  //Need to change color to have gradient
  background-color: $primaryBtn;
  color: white;
  cursor: pointer;
}
