.left-wrapper .title-landing {
  color: $highlightText;
  font-weight: normal;
  font-size: 1.9rem;
  padding-bottom: 2rem;
}

.left-wrapper .subtitle-landing {
  font-weight: normal;
  font-size: 1.2rem;
}

.left-wrapper .image-line {
  width: 20rem;
  margin-top: 2rem;
}

.image-container img {
  width: 40vw;
  max-height: 80vh;
}

//MEDIA QUERIES
@media only screen and (max-width: 768px) {
  .image-container {
    display: none;
  }

  .left-wrapper {
    align-items: center;
    text-align: center;
  }

  .image-line {
    align-self: center;
    margin-right: 0px;
  }
}
