$primaryText: #fffafa;
$highlightText: #ff6361;
$primaryBtn: #ffa600;
$darkText: #58508d;
$darkBackground: #003f5c;
$backgroundColor: #f5f5f5;
$accentColor: #bc5090;
$deleteButtons: rgba(231, 48, 48, 1);
$greyText: #666;
