@import './variables';
@import './mixins';
@import-normalize;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  height: 10vh;
}

.logo-container {
  @include flex-alignItems-center;
}

.logo-container img {
  width: 70px;
  padding: 1rem 1rem 1rem 0;
}

.logo-container h1 a {
  text-decoration: none;
  color: $primaryText;
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: 0.85rem;
}

.nav-link {
  text-decoration: none;
  color: $primaryText;
  padding-left: 3rem;
}

.nav-link:hover {
  color: $primaryBtn;
}

.error-page {
  text-align: center;
}

.footer {
  width: 100%;
  background-color: $primaryText;
  @include flex-alignItems-center;
  height: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.footer-nav {
  margin: 0 auto;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-link {
  text-decoration: none;
  color: $darkText;
  font-size: 0.85rem;
  padding: 0 1.5rem;
  align-items: center;
}

.footer-link:hover {
  color: $primaryBtn;
}

.left-wrapper .title-landing {
  color: $highlightText;
  font-weight: normal;
  font-size: 1.9rem;
  padding-bottom: 2rem;
}

.left-wrapper .subtitle-landing {
  font-weight: normal;
  font-size: 1.2rem;
}

.left-wrapper .image-line {
  width: 20rem;
  margin-top: 2rem;
}

.image-container img {
  width: 40vw;
  max-height: 80vh;
}

.contact-form {
  width: 70%;
}

.no-account,
.have-account {
  text-align: center;
}

.no-account p {
  margin-top: 2rem;
}

.no-account a,
.have-account a {
  text-decoration: underline;
  color: $primaryText;
}

.form-right {
  margin: 0;
  min-width: 400px;
  @include flex-column;
  align-items: center;
}

.main-section-signup {
  @include flex-alignItems-center;
  justify-content: space-around;
  min-height: 70vh;
  width: 100%;
  margin: 0 auto;
}

.form-container-signup {
  background-color: $darkText;
  width: 100%;
  min-height: 150px;
  border: 1px solid $primaryText;
  border-radius: 5px;
  color: $primaryText;
  @include flex-column;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from($darkText),
    to(#316f81)
  );
  background: linear-gradient(to right, $darkText, #316f81);
  font-family: 'Poppins', sans-serif;
  color: $primaryText;
  height: 100%;
  width: 100%;
}

.body-grow {
  @include flex-column;
  height: 100vh;
}

.button {
  background-color: $primaryBtn;
  color: $primaryText;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.3rem 1.4rem;
  font-size: 1.3rem;
  max-width: 150px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 2rem;
  cursor: pointer;
}

.button-column {
  margin-bottom: 2rem;
}

.page-description {
  margin-bottom: 3rem;
  @include flex-column;
}

.page-description p {
  font-size: 14px;
  padding: 0.8rem;
  line-height: 25px;
}

.title-white {
  font-weight: normal;
  font-size: 1.8rem;
  text-align: center;
  color: $primaryText;
  justify-content: flex-start;
}

.title-white-bold {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: $primaryText;
}

.title-orange {
  color: $highlightText;
}

.main-content {
  @include flex-column;
  justify-content: flex-start;
  flex: 1 0 auto;
  width: 80%;
  margin: 0 auto;
  // height: 80vh;
}

.main-section {
  @include flex-alignItems-center;
  min-height: 80vh;
  width: 100%;
  margin: auto;
}

.left-wrapper {
  @include flex-column;
  justify-content: center;
  flex: 1;
  width: 80%;
}

.form-page-container {
  @include flex-column;
  align-items: center;
  margin-top: 3rem;
}

.dashboard-container {
  @include flex-column;
  align-items: center;
}

.form {
  margin: 0 auto;
  min-width: 450px;
  max-width: 550px;
  @include flex-column;
  align-items: center;
}

.form-container {
  background-color: $darkText;
  width: 100%;
  min-height: 150px;
  border: 1px solid $primaryText;
  border-radius: 5px;
  color: $primaryText;
  @include flex-column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0.7rem 0;
}

.form-group {
  @include flex-column;
  width: 100%;
  padding: 0.8rem 0;
}

.form-group label {
  width: 90%;
  margin: 0 auto;
}

.form-group input,
.form-group select {
  font-family: 'Poppins', sans-serif;
  background-color: #3d6874;
  border: none;
  height: 30px;
  border-radius: 5px;
  margin: 0 auto;
  width: 90%;
  color: $primaryText;
  font-size: 14px;
  width: 100%;
  padding-left: 3px;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border: 1px solid $primaryText;
  outline: $primaryText;
}

.form-group textarea {
  resize: none;
  font-family: 'Poppins', sans-serif;
  background-color: #3d6874;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
  color: $primaryText;
  font-size: 14px;
}

.form-message {
  display: block;
}

.form-button {
  border: none;
  padding: 0.3rem 2.3rem;
}

.cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card {
  background: linear-gradient(to right, $highlightText, #ffc93c);
  max-width: 500px;
  flex-basis: calc(33% - 3rem);
  color: $darkText;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
  max-width: 350px;
  height: 200px;
  margin-top: 1rem;
  padding: 1rem 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

.card-title {
  font-size: 20px;
}

.card-stats {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: space-between;
  margin: 20px;
  width: 75%;
}

.card-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-label {
  font-weight: bold;
}

.card-button {
  background-color: $darkText;
  color: $primaryText;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 14px;
  width: 135px;
  max-width: 150px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.card-input {
  font-family: 'Poppins', sans-serif;
  border: 2px solid $darkText;
  border-radius: 5px;
  padding: 0.3rem;
  width: 55px;
  margin-right: 10px;
}

.calories-input {
  width: 75%;
}

.reset-button {
  margin-left: 10px;
}

.spinner {
  border: 10px solid $primaryText;
  border-top: 10px solid $primaryBtn;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  margin-top: 1rem;
  text-align: center;
}

.charts {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.chart {
  background-color: $primaryText;
  flex-basis: calc(50% - 1rem);
  justify-content: center;
  align-items: center;
  color: $darkText;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  margin-top: 3rem;
  padding: 1rem 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

.chart-1 {
  flex: 1;
  max-width: 60%;
}

.chart-2 {
  min-width: 25%;
  max-width: 25%;
}

.activities {
  background: $darkText;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  min-width: 90%;
}

.activities h3 {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
}

.table {
  background-color: $darkText;
  margin: 2rem auto;
  width: 100%;
  border-spacing: 0;
  overflow: hidden;

  th,
  td {
    padding: 0.5rem 2rem;
    margin: 3rem;
    text-align: center;
  }

  td {
    font-size: 0.9rem;
  }

  th {
    font-size: 1.1rem;
    font-weight: bold;
  }

  tbody tr td {
    border-bottom: 1px solid $primaryText;
  }
  // tbody tr:nth-of-type(even) {
  //   background-color: #f3f3f3;
  //   color: $darkText;
  // }
}

.add-activity-button {
  position: absolute;
  top: 15px;
  left: 30px;
  background-color: $primaryBtn;
  color: $darkText;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 14px;
  width: 135px;
  max-width: 150px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.delete-activity-button {
  background-color: rgb(231, 48, 48);
  color: $primaryText;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 14px;
  width: 100px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.alert {
  color: white;
  width: 80%;
  max-width: 1000px;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  line-height: 10px;
}

.alert-warning {
  background-color: rgb(231, 48, 48);
}

.alert-success {
  background-color: rgb(80, 160, 80);
}

.delete-user-button {
  background-color: rgb(231, 48, 48);
  color: $primaryText;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 10px;
  margin-top: 4rem;
  font-size: 14px;
  width: 200px;
  max-width: 200px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.confirm-delete-user-button {
  background-color: rgb(231, 48, 48);
  color: $primaryText;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  width: 100px;
  max-width: 200px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.cancel-user-button {
  background-color: $primaryText;
  color: $darkText;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  width: 100px;
  max-width: 200px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.modal {
  position: fixed;
  z-index: 400;
  background-color: $primaryText;
  margin: 0 auto;
  color: $darkText;
  width: 50%;
  top: 33%;
  left: 25%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.modal-delete-buttons {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.modal-delete-desc {
  margin: 20px;
}

.modal-on {
  display: block;
}

.modal-off {
  display: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 935px) {
  .form {
    min-width: 300px;
  }
  .main-section-signup {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .button {
    align-self: center;
    margin-right: 0px;
  }
  .form {
    min-width: 300px;
  }
  .image-container {
    display: none;
  }
  .left-wrapper {
    align-items: center;
    text-align: center;
  }
  .image-line {
    align-self: center;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 620px) {
  header {
    width: 90%;
  }
  .nav-link {
    padding-left: 0.5rem;
  }
  .footer-link {
    padding: 0 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */
