@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,300&display=swap');
@import './variables';
@import './mixins';
@import-normalize;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  height: 10vh;
}

.site-title {
  font-family: $font;
}

.logo-container {
  @include flex-alignItems-center;
}

.logo-container img {
  width: 70px;
  padding: 1rem 1rem 1rem 0;
}

.logo-container h1 a {
  text-decoration: none;
  color: $darkBackground;
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: 0.85rem;
}

.nav-link {
  text-decoration: none;
  color: $darkBackground;
  padding-left: 3rem;
}

.nav-link:hover {
  color: $primaryBtn;
}

.hamburger {
  display: none;
}

.error-page {
  text-align: center;
}

.footer {
  width: 100%;
  background-color: $darkBackground;
  @include flex-alignItems-center;
  height: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.footer-nav {
  margin: 0 auto;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-link {
  text-decoration: none;
  color: $primaryText;
  font-size: 0.85rem;
  padding: 0 1.5rem;
  align-items: center;
}

.footer-link:hover {
  color: $primaryBtn;
}

.left-wrapper .title-landing {
  color: $darkBackground;
  font-weight: 400;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.title-landing {
  margin: 0;
}

.left-wrapper .subtitle-landing {
  font-weight: 400;
  font-size: 1.2rem;
  color: $darkBackground;
}

.fitness {
  color: $primaryBtn;
}

.left-wrapper .image-line {
  width: 20rem;
  margin-top: 2rem;
}

.image-container img {
  width: 40vw;
  max-height: 80vh;
}

.contact-form {
  width: 80%;
}

.no-account,
.have-account {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  color: $darkBackground;
}

.no-account p {
  margin-top: 2rem;
}

.no-account a,
.have-account a {
  text-decoration: underline;
  color: $darkBackground;
}

.form-right {
  margin: 0;
  min-width: 400px;
  @include flex-column;
  align-items: center;
}

.main-section-signup {
  @include flex-alignItems-center;
  justify-content: space-around;
  min-height: 70vh;
  width: 100%;
  margin: 0 auto;
}

.form-container-signup {
  background-color: $darkBackground;
  width: 100%;
  min-height: 150px;
  border: 1px solid $primaryText;
  border-radius: 5px;
  color: $primaryText;
  @include flex-column;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  // background: linear-gradient(to right, $darkText, #316f81);
  background-color: $backgroundColor;
  font-family: $font;
  color: $primaryText;
  height: 100%;
  width: 100%;
}

.body-grow {
  @include flex-column;
  height: 100vh;
}

.button {
  background-color: $primaryBtn;
  color: $primaryText;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.3rem 1.4rem;
  font-size: 1.3rem;
  max-width: 150px;
  text-align: center;
  font-family: $font;
  margin-top: 2rem;
  cursor: pointer;
}

.landing-buttons {
  margin-top: 2rem;
  width: 100%;
  display: flex;
}

.landing-button {
  min-width: 130px;
  margin-right: 10px;
  margin-top: 1rem;
}

.landing-link {
  text-decoration: none;
  color: $primaryText;
}

.button-column {
  margin-bottom: 2rem;
}

.page-description {
  margin-bottom: 3rem;
  @include flex-column;
  color: $darkBackground;
}

.page-description p {
  font-size: 14px;
  padding: 0.8rem;
  line-height: 25px;
}

.title-white {
  font-weight: normal;
  font-size: 1.7rem;
  text-align: center;
  color: $darkBackground;
  justify-content: flex-start;
}

.title-white-bold {
  font-weight: bold;
  font-size: 1.7rem;
  text-align: center;
  color: $darkBackground;
}

.subheading {
  font-size: 2.2rem;
}

.title-accent {
  color: $accentColor;
}

.main-content {
  @include flex-column;
  justify-content: flex-start;
  flex: 1 0 auto;
  width: 80%;
  margin: 0 auto;
  // height: 80vh;
}

.main-section {
  @include flex-alignItems-center;
  min-height: 80vh;
  width: 100%;
  margin: auto;
}

.left-wrapper {
  @include flex-column;
  justify-content: center;
  flex: 1;
  width: 80%;
}

.form-page-container {
  @include flex-column;
  align-items: center;
}

.dashboard-container {
  @include flex-column;
  align-items: center;
}

.form {
  margin: 0 auto;
  width: 90%;
  min-width: 450px;
  max-width: 550px;
  @include flex-column;
  align-items: center;
}

.form-container {
  background-color: $darkBackground;
  width: 100%;
  min-height: 150px;
  border: 1px solid $primaryText;
  border-radius: 5px;
  color: $primaryText;
  @include flex-column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0.7rem 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.form-group {
  @include flex-column;
  width: 100%;
  padding: 0.8rem 0;
}

.form-group label {
  width: 90%;
  margin: 0 auto;
}

.form-group input,
.form-group select {
  font-family: $font;
  background-color: $formInputs;
  border: 1px solid $greyText;
  height: 30px;
  border-radius: 5px;
  margin: 0 auto;
  width: 90%;
  color: $darkBackground;
  font-size: 14px;
  width: 100%;
  padding-left: 3px;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border: 1px solid $accentColor;
  outline: $accentColor;
}

.form-group textarea {
  resize: none;
  font-family: $font;
  background-color: $formInputs;
  border: 1px solid $greyText;
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
  color: $backgroundColor;
  font-size: 14px;
}

.form-message {
  display: block;
}

.form-button {
  border: none;
  padding: 0.3rem 2.3rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  color: $primaryText;
}

.login-form-button {
  border: none;
  padding: 0.3rem 2.3rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  color: $primaryText;
}

.cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card {
  // background: linear-gradient(to right, $highlightText, #ffc93c);
  background-color: $chartBackground;
  flex-basis: calc(33% - 3rem);
  color: $darkText;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 245px;
  max-width: 350px;
  height: 200px;
  margin: 1rem 10px;
  padding: 1rem 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-title {
  font-size: 16px;
  text-align: center;
}

.card-stats {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: space-between;
  margin: 20px;
  width: 75%;
  font-size: 14px;
  color: $greyText;
}

.card-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-label {
  font-weight: bold;
  font-size: 14px;
}

.card-button {
  background-color: $darkText;
  color: $primaryText;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 14px;
  width: 135px;
  max-width: 150px;
  text-align: center;
  font-family: $font;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.card-input {
  font-family: $font;
  border: 2px solid $darkText;
  border-radius: 5px;
  padding: 0.3rem;
  width: 55px;
  margin-right: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.calories-input {
  width: 95%;
}

.reset-button {
  margin-left: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.spinner {
  border: 10px solid $primaryText;
  border-top: 10px solid $primaryBtn;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  margin-top: 1rem;
  text-align: center;
}

.weight-calorie-charts {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
}

.chart {
  background-color: $primaryText;
  flex-basis: calc(50% - 1rem);
  justify-content: space-between;
  align-items: center;
  color: $darkText;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  margin-top: 3rem;
  padding: 1rem 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  width: 80vw;
}

.chart-1 {
  flex: 1;
  max-width: 70%;
}

.chart-2 {
  min-width: 25%;
  max-width: 25%;
}

.chart-3 {
  flex: 1;
  min-width: 90%;
  margin-top: 3rem;
}

.activities {
  background: $chartBackground;
  color: $greyText;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  min-width: 90%;
}

.activities h3 {
  text-align: center;
  font-size: 18px;
  margin: 1rem;
}

.table {
  background-color: $chartBackground;
  color: $greyText;
  margin: 2rem auto;
  width: 100%;
  border-spacing: 0;
  overflow: hidden;

  th,
  td {
    padding: 0.5rem 2rem;
    margin: 3rem;
    text-align: center;
  }

  td {
    font-size: 14px;
  }

  th {
    font-size: 15px;
    font-weight: bold;
  }

  tbody tr td {
    border-bottom: 1px solid grey;
  }
  // tbody tr:nth-of-type(even) {
  //   background-color: #f3f3f3;
  //   color: $darkText;
  // }
}

.add-activity-button {
  position: absolute;
  top: 15px;
  left: 30px;
  background-color: $primaryBtn;
  color: $primaryText;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 14px;
  width: 135px;
  max-width: 150px;
  text-align: center;
  font-family: $font;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.delete-activity-button {
  background-color: $deleteButtons;
  color: $primaryText;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 14px;
  width: 100px;
  text-align: center;
  font-family: $font;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.alert {
  color: white;
  width: 80%;
  max-width: 1000px;
  margin: 4rem auto 5px auto;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  line-height: 10px;
}

.alert-warning {
  background-color: $deleteButtons;
}

.alert-success {
  background-color: rgb(80, 160, 80);
}

.delete-user-button {
  background-color: $deleteButtons;
  color: $primaryText;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
  font-size: 14px;
  width: 200px;
  max-width: 200px;
  text-align: center;
  font-family: $font;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.modal {
  width: 50%;
  position: fixed;
  z-index: 400;
  background-color: $primaryText;
  margin: 0 auto;
  color: $darkText;
  top: 25%;
  left: 25%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 5px;
}

.modal-delete-buttons {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.modal-delete-desc {
  margin: 20px;
}

.confirm-delete-user-button {
  background-color: $deleteButtons;
  color: $primaryText;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  width: 100px;
  max-width: 200px;
  text-align: center;
  font-family: $font;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.cancel-user-button {
  background-color: $primaryText;
  color: $darkBackground;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  width: 100px;
  max-width: 200px;
  text-align: center;
  font-family: $font;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.card-submit-button {
  background-color: $primaryBtn;
  color: $darkBackground;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  width: 100px;
  max-width: 200px;
  text-align: center;
  font-family: $font;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.card-update-heading {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0;
  color: $darkBackground;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.sideDrawer {
  display: none;
}

@media only screen and (max-width: 935px) {
  .form {
    min-width: 300px;
  }
  .main-section-signup {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media only screen and (max-width: 790px) {
  .nav-link {
    padding-left: 2rem;
  }
  .button {
    align-self: center;
    margin-right: 0px;
  }
  .form {
    min-width: 300px;
    margin: 0 auto;
    width: 90%;
  }
  .image-container {
    display: none;
  }
  .left-wrapper {
    align-items: center;
    text-align: center;
  }
  .image-line {
    align-self: center;
    margin-right: 0px;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 500px;
    height: 200px;
    margin: 1rem 10px;
    padding: 1rem 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .weight-calorie-charts {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: 800px;
  }

  .chart {
    margin-top: 1rem;
    position: relative;
    width: 500px;
    max-width: 800px;
    height: 400px;
  }

  .delete-activity-button {
    width: 50px;
  }

  .activities {
    margin: 2rem;
  }

  .activities h3 {
    text-align: center;
    font-size: 1.2rem;
  }

  .table {
    margin: 1rem auto;
    width: 100%;
    border-spacing: 0;
    overflow: hidden;
    th,
    td {
      padding: 0.3rem 0.1rem;
      margin: 3rem;
      text-align: center;
    }

    td {
      font-size: 0.9rem;
    }

    th {
      font-size: 0.9rem;
    }
  }

  .add-activity-button {
    padding: 1px;
    font-size: 14px;
    width: 80px;
    top: 10px;
    left: 5px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  header {
    width: 90%;
  }
  .footer-link {
    padding: 0 1rem;
  }
  .footer {
    height: 30px;
  }
  .form {
    min-width: 100px;
    margin: 5px;
  }
  .form-container {
    margin-top: 5px;
  }
  .form-container-signup {
    width: 80%;
  }

  .form-right {
    min-width: 0px;
  }

  .card-update-heading {
    margin-top: 5px;
  }
  .modal {
    width: 50%;
    padding: 5px;
    margin: 0 auto;
    top: 10%;
  }
  .modal-delete-buttons {
    margin: 5px;
  }
  .chart {
    margin-top: 1rem;
    position: relative;
    width: 85vw;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    top: 10vh;
    background-color: rgb(32, 58, 67);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 0.85rem;
    // transition: transform 0.3s ease-in;
    z-index: 1;
  }

  .open {
    transform: translateX(0);
  }

  .close {
    display: none;
  }

  .nav-link {
    padding: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 4;
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: $darkBackground;
    margin: 5px;
    z-index: 4;
  }
}
/*# sourceMappingURL=styles.css.map */
